[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim-plug"]
	path = vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "config/emojis/noto"]
    depth = 1
	path = emojis/noto
	url = https://github.com/googlefonts/noto-emoji.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "spaceship-prompt"]
	path = spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
[submodule "zsh-codex"]
	path = zsh-codex
	url = https://github.com/tom-doerr/zsh_codex.git
